{% load static %}

<style>
/* grid styling */
use {
  transition: 0.4s;
  cursor: pointer;
}

polygon {

}



g {
  fill-opacity:0.4;
}

.text1 {
  fill-opacity:1;
}


/* other styling */
svg {
  width: 600;
  height:600;
  flex: 1;
}



use:hover{
  fill:#5f5f5f;
}


</style>
<svg   viewBox="-78 -55 500 500">
<defs>
  <g id="pod1" class=" animated-slow animated rotateInDownLeft" >
    <a href="http://agrotechub.wkau.kz/?page_id=577">
      <polygon  id="poligon1" points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-34" y="12"  font-size="7px" fill="#ffaa18"> <tspan style="font-weight: bold;">ЖИВОТНОВОДСТВО</tspan>
      </text>
      <image  x="-14" y="-27" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/cow-silhouette-1.svg' %}" />
    </a>
  </g>
  <g id="pod2" class="animated-slow animated fadeInDown" >
    <a href="http://agrotechub.wkau.kz/?page_id=580">
      <polygon  points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-34" y="15"  font-size="7px" fill="#fff"> <tspan style="font-weight: bold;">РАСТЕНИЕВОДСТВО</tspan>
      </text>
      <image  x="-14" y="-27" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/feather-alt-solid-1.svg' %}" />
    </a>
  </g>
  <g id="pod3" class="animated-slow animated rotateInUpLeft">
    <a href="http://agrotechub.wkau.kz/?page_id=584">
      <polygon  points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-30" y="15"  font-size="7px" fill="#fff"> <tspan style="font-weight: bold;">СТРОИТЕЛЬСТВО</tspan>
      </text>
      <image  x="-14" y="-27" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/tools-solid-1.svg' %}" />
    </a>
  </g>
  <g id="pod4" class="animated-slow animated zoomIn">
    <a href="http://agrotechub.wkau.kz/?page_id=582">
      <polygon  points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-13" y="12"  font-size="7px" fill="#ffaa18"> <tspan style="font-weight: bold;">ЦЕНТР</tspan>
      </text>
      <text class="text1" x="-34" y="20"  font-size="7px" fill="#ffaa18"> <tspan style="font-weight: bold;">РАСПРОСТРАНЕНИЯ</tspan>
      </text>
      <text class="text1" x="-16" y="28"  font-size="7px" fill="#ffaa18"> <tspan style="font-weight: bold;">ЗНАНИЙ</tspan>
      </text>
      <image  x="-14" y="-27" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/user-graduate-solid-1.svg' %}" />
    </a>
  </g>

  <g id="pod5" class="animated-slow animated rotateInDownRight">
    <a href="http://agrotechub.wkau.kz/?page_id=586">
      <polygon  points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-36" y="14"  font-size="7px" fill="#fff"> <tspan style="font-weight: bold;">ХИМИЯ И ЭКОЛОГИЯ</tspan>
      </text>
      <image  x="-14" y="-27" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/vial-solid-1.svg' %}" />
    </a>
  </g>

  <g id="pod6" class="animated-slow animated slideInLeft" >
    <a href="http://agrotechub.wkau.kz/?page_id=735">
      <polygon  points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-30" y="12"  font-size="7px" fill="#fff"> <tspan style="font-weight: bold;">ИХТИОЛОГИЯ И</tspan>
      </text>
      <text class="text1" x="-29" y="20"  font-size="7px" fill="#fff"> <tspan style="font-weight: bold;">АКВАКУЛЬТУРА</tspan>
      </text>
      <image  x="-14" y="-27" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/fish-solid-1.svg' %}" />
    </a>
  </g>

  <g id="pod7" class="animated-slow animated bounceInRight" >
    <a href="http://agrotechub.wkau.kz/?page_id=744">
      <polygon  points="25, -43
-25, -43
-50,0
-25,43
25,43
50,0" />
      <text class="text1" x="-40" y="7"  font-size="6px" fill="#ffaa18"> <tspan style="font-weight: bold;">ИНСТИТУТ ЭКОНОМИКИ, IT</tspan>
      </text>
      <text class="text1" x="-40" y="15"  font-size="6px" fill="#ffaa18"> <tspan style="font-weight: bold;"> И ПРОФЕССИОНАЛЬНОГО</tspan>
      </text>
      <text class="text1" x="-18" y="23"  font-size="6px" fill="#ffaa18"> <tspan style="font-weight: bold;">  ОБУЧЕНИЯ</tspan>
      </text>

      <image  x="-14" y="-33" width="30" height="30" xlink:href="{% static 'base_front/assets/images/hex_menu/building-solid-1.svg' %}" />
    </a>
  </g>

</defs>
<g class="pod-wrap">
  <use id ="use1" xlink:href="#pod1" transform="translate(0, 44.3)" />
  <use id ="use2" xlink:href="#pod2" transform="translate(80, 0)"/>
  <use xlink:href="#pod3" transform="translate(160, 44.3)"/>
  <use xlink:href="#pod4" transform="translate(80, 90.6)"/>
  <use xlink:href="#pod5" transform="translate(0, 134.9)"/>
  <use xlink:href="#pod6" transform="translate(80, 181.2)"/>
  <use xlink:href="#pod7" transform="translate(160, 134.9)"/>
</g>


</svg>