{% extends 'base_front/layout.html' %}

{% load static %}
{% load i18n %}

{% block body %}

<section id="investment-areas" class="blog-listing section-padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-15px-tb partner-box-view">
                <h4>{{ consulting_item.name }}</h4>

                <div class="consulting-item">
                    <span>
                        <img src="{{ consulting_item.logo.url }}" title="" alt="">
                    </span>
                </div>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <span class="inv-box-text">{{ consulting_item.description|safe }}</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}