{% extends 'base_front/layout.html' %}

{% load static %}
{% load i18n %}

{% block body %}

<section id="investment-areas" class="blog-listing section-padding mt-4">
    <div class="container">
        <div class="row">
            <h4 class="mt-3">{% trans "courses_h" %}</h4>
            <p>{{ category_name }}</p>
        </div>
        <div class="row align-items-start">
            <div class="col-lg-12 m-15px-tb">

              {% for course in courses %}
                <div class="course-block">
                    <p class="course-block-h">{{course.name}}</p>
                    <p>{{course.description}}</p>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}