{% load static %}

<html lang="kk">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <title>AgritechHubKZ</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'base_front/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'base_front/assets/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'base_front/assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'base_front/assets/css/owl.css' %}">
        <link rel="stylesheet" href="{% static 'base_front/assets/css/lightbox.css' %}">
    </head>
<body>

{% include 'base_front/_header.html' %}

{% block body %}
    Body block
{% endblock %}

{% include 'base_front/_footer.html' %}

 <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="//code.tidio.co/lb6olpbd6psy26npuspyoswaukubisto.js" async></script>
    <script src="{% static 'base_front/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'base_front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'base_front/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'base_front/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'base_front/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'base_front/assets/js/tabs.js' %}"></script>
    <script src="{% static 'base_front/assets/js/video.js' %}"></script>
    <script src="{% static 'base_front/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'base_front/assets/js/custom.js' %}"></script>

    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
    <!-- Be1.ru --><a href="https://be1.ru/stat/agritech-hub.wkau.kz" title="Анализ сайта" target="_blank"><img src="https://be1.ru/images/analiz-sayta.jpg" width="88" height="31" alt="Анализ сайта" title="Анализ сайта"/></a><!-- Be1.ru -->
</body>
</html>