{% extends 'base_front/layout.html' %}

{% load static %}
{% load i18n %}

{% block body %}

<section class="blog-listing section-padding mt-5">
    <div class="container">
        <div class="row">
            <h4>{% trans "events_title" %}</h4>
        </div>
        <div class="row">
            {% for event in page %}
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date">
                                <span>{{ event.publication_date|date:"d" }}</span>
                                <label>{{ event.publication_date|date:_("F") }}</label>
                                {% if event.publication_date.year != current_year %}
                                    <span class="year">{{ event.publication_date|date:_("Y") }}</span>
                                {% endif %}
                            </div>
                            <a href="{% url 'event_view' event.id %}">
                                <div class="img-box">
                                    <div>
                                        <img src="{{ event.image.url }}" title="" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href="{% url 'event_view' event.id %}">{{ event.title }}</a></h5>
                            <p>{{ event.content|striptags|slice:":100" }}...</p>
                            <div class="btn-bar">
                                <a href="{% url 'event_view' event.id %}" class="px-btn-arrow">
                                    <span>{% trans "last_events_more_btn" %}</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <!-- Handle case when there are no items -->
            {% endfor %}

            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item"><span class="page-link current-page">{{ page.number }}</span></li>

                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{% endblock %}